body { font-family:Arial, Helvetica, sans-serif; font-size:12px; overflow-x:hidden; font-weight:normal; background:url(../images/bg.gif); }  
#cssmenu .has-sub ul li a {  background:url(../images/bg.gif) !important;  }
a, body, h1 { color:#333; }
.min-height { min-height:50px ;  }

.main { width:980px; margin:0 auto; }
.main-full {width:100%; !important; margin:0 0px 0px 20px; min-width:980px !important; }

/* vertical menu */
.left-baar {width:160px; position:absolute; left:20px; height:100%; margin-left:-20px; padding-left:20px;  padding-right:10px; padding-top:20px; 
    overflow: visible; }

.glossymenu { margin-left:-20px !important;  }

.glossymenu, .glossymenu li ul{ margin: 0; padding: 0; text-transform:uppercase; }
.glossymenu li{ position: relative; border-bottom:1px #1d1d1d solid; border-top:1px #343434 solid;  margin-right:-10px !important;	 }
.glossymenu li a{ color: #adadad !important; display: block; width: auto; padding: 5px 0; padding-left:20px !important; padding-left: 10px; text-decoration: none; }
.glossymenu li ul{ /*SUB MENU STYLE*/ position: absolute; width: 200px; background:url(../images/bg.gif); left: 0; top: 0; display: none; border:1px #000000 solid; z-index:999; }
.glossymenu li ul li{ float: left; }
.glossymenu li ul a{ width: 180px; /*WIDTH OF SUB MENU ITEMS - 10px padding-left for A elements */ }
.glossymenu .arrowdiv{ position: absolute; right: 14px; background: url(../images/menu-arrow.png) no-repeat center; }

 .glossymenu li a.active, .glossymenu li a:hover {  color:#FFF !important;  }
/* Holly Hack for IE \*/
* html .glossymenu li { float: left; height: 1%; }
* html .glossymenu li a { height: 1%; }

.profilepic {margin:0 auto; margin-bottom:10px; text-align:center }
.profilepic img {   padding:4px; background:#343434; border:2px #1d1d1d solid; }
.profilepic-div { width:150px; margin-left:-10px; }
.profilepic input[type="file"] { cursor:pointer; position:relative; border:1px red solid !important; height:20px !important; height:20px !important; background:red !important; overflow:hidden !important;

/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
/* IE 5-7 */
 filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0; }
.profilepic .camera { position:absolute; width:20px !important; height:20px !important; margin-left:132px; margin-top:10px; color:#98c640 !important;}
.input-file { width:20px; height:20px;z-index:9; position:absolute; z-index:9; border:none !important; 	 }
.input-file:focus { outline:none; }


/* right-box */
.right-box { margin-left:170px; padding-left:20px; min-height:600px;  padding-bottom:10px; padding-top:20px; padding-right:40px; background:#FFF;

box-shadow:-7px -5px 5px -2px #000000 !important;

 }

/* breadcrumb */
.breadcrumb { margin:5px 0px 10px; }
.breadcrumb ul li { display:inline; font-size:12px !important;  }
.breadcrumb ul li, .breadcrumb ul li a {  color:#afafaf !important;  }

/* login */
.login-box { width:450px !important; margin:100px auto 0px auto;  }
.login-box input[type="text"], .login-box input[type="password"] { background:#0b0b0b !important;  border:1px #000 solid;

border-top:2px #000 solid;
border-left:2px #000 solid;

padding-top:10px !important; padding-bottom:10px !important;

box-shadow:2px 2px 4px #333;


 }
 
 .forgot-pass-btn { cursor:pointer; }
 .forgot-pass { display:none; }
 
 
 .login-box input[type="text"]:focus, .login-box input[type="password"]:focus { outline:none; }

.logn-btn { width:78px !important; padding:0px !important; height:78px !important; background:url(../images/logn-btn.png) no-repeat center !important; border:none !important; position:absolute; margin:-126px 0px 0px -38px; 
  
  font-size:0px;
  
  
}

/* header */
.header { min-width:1000px !important; background:#FFF; border-bottom:1px #E9E9E9 solid; position:relative; z-index:99;

box-shadow:0px 0px 4px #666666; -webkit-box-shadow:0px 0px 4px #666666; -moz-box-shadow:0px 0px 4px #666666; -ms-box-shadow:0px 0px 4px #666666; -o-box-shadow:0px 0px 4px #666666; -khtml-box-shadow:0px 0px 4px #666666; }
.header .logo { width:200px; float:left; margin-left:10px; position:absolute; }
.header .logo img { height:72px !important; width:auto !important; }
.dropdown-menu2 { margin-left:-60px !important; }

/* dashbord */
.dashbord-height {}
.dashbord-height ul li, .dashbord-height ul li a { color:#FFF; }
.dashbord-height ul li span { float:right }
.dashbord-height ul li a {}

.performance {}
.performance li { line-height:30px; border-bottom:1px #CCC solid; }

/* buy package */
.buy-package .row .buy-heading { margin-left:50px; }
[class^=buy-package-tag-] { width:56px; height:56px; position:absolute; margin:-5px 0px 0px -5px; }
.buy-package-tag-bought { background:url(../images/buy-package/buy-package-bought.png); }
.buy-package-tag-new { background:url(../images/buy-package/buy-package-new.png); }
.buy-package-tag-popular { background:url(../images/buy-package/buy-package-popular.png); }


/* news-n-updates */
.news-n-updates {}
.news-n-updates-data { margin-right:140px; }

.news-n-updates-date { float:right; width:130px; height:121px; background:url(../images/icons/news-n-updates-date.jpg) no-repeat center; }
.news-n-updates-date-year { text-align:right; margin-right:20px; margin-top:5px; }
.news-n-updates-date-date { font-size:30px !important; margin:19px 0 0px 40px;	}
.news-n-updates-date-month {  color:#FFF; text-align:center; padding:17px 28px 0px 25px;}


/* book-marks-re */
.book-marks-re-left { width:55%; float:left; }
.book-marks-re-right { width:43%; float:right;}
.book-marks-re-right ul li { width:48%; display:inline-block; margin-right:1%; line-height:25px; }
.book-marks-re-lef-number { position:absolute; padding:4px;  }
.book-marks-re-lef-number div { border-top:6px solid transparent; border-bottom:6px solid transparent; border-left:6px solid red; position:absolute; right:-6px; margin-top:3px; }

.book-marks-re-left-data {  margin-left:60px; }
.final-view {}
.final-view li {  }

.book-marks-re-right ul { margin:0; padding:0; }

.dowiload-links img { height:40px !important; margin-right:10px; }
.dowiload-links img a {}

/**/
.popup-left-box { width:20%; float:left; }
.popup-right-box { width:78%; float:right; }


/* footer */
.footer { border-top:1px e9e9e9 solid; margin-top:10px; }

/* extra */
.fg-toolbar input[type="text"], .fg-toolbar select { padding:4px !important }
.fg-toolbar label { display:inline-block !important; }
.fg-toolbar { background:#ececec !important;	 }
#cboxContent { position: fixed !important; top: 2% !important;}

.instruction-list li {  margin-bottom:10px; }
.instruction-list li span { font-size:30px; color:#999;  vertical-align:-5px; }


